*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

section.main-page {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1rf min-content;
}

.left {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    background: url(../images/twitterbg.png) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.p-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg.left-content-icon {
    fill: #fff;
    width: 90%;
    max-height: 380px;
    height: 60%;
}

.right {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 20px;
    min-width: 45vw;
}

.right-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 437px;
    max-width: 760px;
    height: 100%;
    width: 100%;
}

.right-site-wrapper {
    padding-bottom: 12px;
}

.right-site-wrapper svg {
    fill: rgb(29, 161, 242);
}

.right h2.middle-heading {
    font-size: 75px;
    font-weight: 900;
    margin-top: 48px;
    margin-bottom: 48px;
    letter-spacing: 3.8px;
    overflow-wrap: break-word;
}

.right-middle-content h5 {
    font-size: 30px;
}

a.btn-link {
    display: block;
    min-width: calc(77.28px);
    min-height: 48px;
    max-width: 300px;
    margin-bottom: 20px;
    font-size: 21px;
    text-align: center;
    padding: 13px;
    border-radius: 99999px;
}

.right-middle-content .sign-up-btn {
    color: #fff;
    border:  0.1rem solid #0000;
    background-color: rgb(29, 161, 242);
    transition: background-color 0.3s;
}

.right-middle-content .sign-up-btn:hover {
    background-color: rgb(29, 145, 218);
}

.right-middle-content .log-in-btn {
    color: rgb(29, 161, 242);
    border:  0.1rem solid rgb(29, 161, 242);
    background-color: #fff;
    transition: background-color 0.3s;
}

.right-middle-content .log-in-btn:hover {
    background-color: rgba(29, 145, 218, 0.1);
}

footer.main-page-footer {
    grid-column: 1/-1;
    grid-row: 2/3;
    padding: 15px 16px;
}

.main-page-footer nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-page-footer nav a,
.main-page-footer nav span {
    font-size: 16px;
    color: rgb(91, 112, 131);
    padding-right: 16px;
    line-height: calc(19.6875px);
    margin-bottom: 1rem;
}

.main-page-footer nav a:hover {
    text-decoration: underline;
}